<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutomationName" value="UiAutomator1"/>
    <add key="UriPath" value="http://127.1.1.1:4723/wd/hub"/>
    <add key="DeviceName" value="emulator-5554"/>
    <add key="PlatformName" value="Android"/>
    <add key="PlatformVersion" value="8"/>
    <add key="AppPackage" value="com.android.calculator2"/>
    <add key="AppActivity" value="com.android.calculator2.Calculator"/>
  </appSettings>
</configuration>